<nav class="navbar">

    <div class="rigthPart">
      <button class="buttonSearch"><img class="imgNavbar" src="../assets/navbar/buscar.png" alt=""></button>
      <button class="btn btnSeccion"><span>Secciones</span></button>
    </div>
  
    <div class="centerPart">
      <img class="imgNavbarLogo" src="../assets/navbar/elTiempo.jpg" alt="">
      <button class="btn">SUSCRIBETE</button>
    </div>
  
    <div class="leftPart">
      <button class="btn btnLeft"><img class="imgNavbar imgBtn" src="../assets/navbar/usuario.png" alt="">iniciar sesíon</button>
      <button class="btn btnLeft"><img class="imgNavbar imgBtn" src="../assets/navbar/estrella.png" alt="">Mis Noticias</button>
    </div>
  
  </nav>