<div class="containerSetion">
    <div>
        <p>{{currentDate}}</p>
        <div class="linea1"></div>
    </div>

    <div>
        <section>

    <div>
        <div class="content">
            <div>
                <div class="present"><img class="imgPresent" src="../../../../assets/seccion/actualidad.png" alt="">
                    <p>ACTUALIDAD</p>
                </div>
                    <div class="containerInf">
                        <h2><strong>El representante del Pacto Histórico se pronunció sobre el aumento del salario de los congresistas.</strong></h2>
                        <p>l presidente Gustavo Petro firmó este 24 de julio el decreto que establece el aumento del salario de los congresistas. Los senadores y representantes a la Cámara tuvieron un incremento salarial del 14,62 por ciento.
                        <br>
                        <br>
                        Teniendo en cuenta que en el 2022 tenían un salario de $ 37′880.084, el aumento es de 5'538.068, lo que significa que la nueva asignación mensual de los congresistas para el 2023 es de 43'418.152 pesos.
                        </p>
                    </div>

            </div>
        <div>
            <img class="imgNoticia" src="../../../../assets/seccion/noticia1.jpeg" alt="">
        </div>
    </div>
    <div class="linea2"></div>
    </div>

    <div class="article">
            <article>
                <div class="borde">
                    <strong>4:39 PM</strong>
                <div><p>Duro regaño de la Corte a reputado <br>
                    colegio de Bogotá por negligencia <br>
                    en caso de matoneo</p></div>
                </div>

                <div class="borde">
                    <strong>4:39 PM</strong>
                <div><p>Duro regaño de la Corte a reputado <br>
                    colegio de Bogotá por negligencia <br>
                    en caso de matoneo</p></div>
                </div>

                <div class="borde">
                    <strong>4:39 PM</strong>
                <div><p>Duro regaño de la Corte a reputado <br>
                    colegio de Bogotá por negligencia <br>
                    en caso de matoneo</p></div>
                </div>
            </article>

            <div class="linea"></div>

            <article>
                <div></div>
                <div></div>
            </article>
        </div>
        </section>
    </div>
</div>
