<div class="containerBotton">
    <div class="rigthPart">
        <button class="btn btnSeccion"><span>OPINIÓ</span></button>
    </div>
    <div class="rigthPart">
        <button class="btn btnSeccion"><span>COLOMBIA</span></button>
    </div>
    <div class="rigthPart">
        <button class="btn btnSeccion"><span>BOGOTA</span></button>
    </div>
    <div class="rigthPart">
        <button class="btn btnSeccion"><span>INTERNACIONAL</span></button>
    </div>
    <div class="rigthPart">
        <button class="btn btnSeccion"><span>POLÍTICA</span></button>
    </div>
    <div class="rigthPart">
        <button class="btn btnSeccion"><span>JUSTICIA</span></button>
    </div>
    <div class="rigthPart">
        <button class="btn btnSeccion"><span>ECONOMÍA</span></button>
    </div>
    <div class="rigthPart">
        <button class="btn btnSeccion"><span>DEPORTES</span></button>
    </div>
    <div class="rigthPart">
        <button class="btn btnSeccion"><span>CULTURA</span></button>
    </div><div class="rigthPart">
        <button class="btn btnSeccion"><span>TECNOLOGÍA</span></button>
    </div><div class="rigthPart">
        <button class="btn btnSeccion"><span>VIDA</span></button>
    </div><div class="rigthPart">
        <button class="btn btnSeccion"><span>UNIDAD INVESTIGATIVA</span></button>
    </div>
    <div class="rigthPart">
        <button class="btn btnSeccion"><span>SALUD</span></button>
    </div>
</div>